Package: arm-medo-dsp
Version: 2.1.3.2161
Section: unknown
Priority: optional
Depends: php7.3,postgresql,apache2,libapache2-mod-php,php-gd,php-mbstring,php-common,php-zip,php-xml,php-pgsql,php-imagick
Suggests: ghostscript
Architecture: all
Installed-Size: 102400
Maintainer: RF
Description: ARM DSP package
